/* global box-sizing */
* {
    box-sizing: border-box;
}

body {
    font-family: system-ui, sans-serif;
    text-align: center;
    margin: 0;
    padding: 1rem;
    background-image: url('words-faded.png');
    background-size: cover;
    background-position: center;
}


h1 {
    margin-top: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5rem;
}


#game-board {
    display: grid;
    /* 6 rows of tiles */
    grid-template-rows: repeat(6, 1fr);
    gap: 8px;
    margin: 1rem auto;
    max-width: 320px;
}

.row {
    display: grid;
    /* 5 columns of tiles */
    grid-template-columns: repeat(5, 60px); 
    gap: 6px;
    justify-content: center;
}

/*cell/tile for the grid */
.cell {
    border: 2px solid #000000;
    height: 60px;
    line-height: 60px;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    user-select: none;
}

/*color coding based on status*/
.correct {
    /* green */
    background-color: #6aaa64;
    color: white;
    border-color: #6aaa64;
}

.wrong-place {
    /* yellow */
    background-color: #c9b458;
    color: white;
    border-color: #c9b458;
}

.not-in-word {
    /* gray */
    background-color: #787c7e;
    color: white;
    border-color: #787c7e;
}

#input-area {
    margin: 1rem 0;
}

/*input field for guesses */
#guess-input {
    padding: 0.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    width: 130px;
}

#submit-btn,
#restart-btn {
    margin-top: 1rem;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #04810b;
    color: white;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    display: inline-block;
}

/*used letters*/
#used-letters {
    margin-top: 1rem;
    display: grid;
    /* 13 columns and 2 rows for A-Z*/
    grid-template-columns: repeat(13, 1fr);
    gap: 4px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}

/*keys on the on-screen keyboard*/
.letter-key {
    border: 1px solid #000000;
    padding: 6px 4px;
    text-align: center;
    text-transform: uppercase;
    user-select: none;
    cursor: pointer;
    font-weight: 700;
}

/*message box*/
#message-box {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #000000;
}

/*responsive down to 600px*/
@media screen and (max-width: 600px) {
    #game-board .row {
        grid-template-columns: repeat(5, 45px);
    }

    .row .cell {
        height: 45px;
        line-height: 45px;
        font-size: 1.4rem;
    }
}
